*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background: #161513;
  color: white;
  font-family: 'outfit';
}
@media (max-width: 768px) {
  body {
    height: auto; /* Remove fixed height for mobile */
    /* Add padding to body for mobile */
    padding: 0%;
  }
  
}
@media (max-width: 576px) {

}